<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= homeStartingContent %></p>
<a class="btn btn-success" href="/compose">Compose</a>
<br />
<br />
<form action="/clearall" method="post">
  <a class="btn btn-success" href="/clearall">Clear All</a>
</form>

<% posts.forEach(function(post) { %>
<h1><%= post.title %></h1>
<p>
  <%= post.content.slice(0,100) + " ..." %>
  <a href="/posts/<%= post._id %>">Read More</a>
</p>
<% }); %> <%- include("partials/footer") -%>
